.membership-growth .dimple-axis-y .dimple-custom-axis-label, .membership-growth .dimple-custom-axis-title.dimple-axis-y:nth-of-type(2n) {
   fill: #6DA69D !important;
}		
.membership-growth .dimple-axis-y:nth-of-type(2n) .dimple-custom-axis-label, .membership-growth .dimple-custom-axis-title.dimple-axis-y {
   fill: #648CBD !important;
}
.membership-growth .dimple-axis-x .dimple-custom-axis-label {
   fill: black !important;
} 
#membershipByGrowthContainer svg circle{
   stroke-width: 3 !important;
}
#membershipByGrowthContainer svg path{
   stroke-width: 3 !important;
}
.membership_tile{
	position: absolute;
	z-index: 99999;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: block;
	text-align: center;
}	
@media screen and (min-width: 1280px) {
	.membership_tile{
		bottom: 0px;
	}
	.membership_tile img{
		width: 225px;
	}
}
@media screen and (min-width: 1366px) {
	.membership_tile{
		bottom: 1px;
	}
	.membership_tile img{
		width: 290px;
	}
}
@media screen and (min-width: 1440px) {
	.membership_tile{
		bottom: 3px;
	}
	.membership_tile img{
		width: 320px;
	}
}
@media screen and (min-width: 1536px) {
	.membership_tile{
		bottom: 0px;
	}
	.membership_tile img{
		width: 320px;
	}
}
@media screen and (min-width: 1920px) {
	.membership_tile{
		bottom: 5px;
	}
	.membership_tile img{
		width: 380px;
	}
}